/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 250px;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsl(209, 100%, 8%);
  overflow-x: hidden;
}

.nav-logo {
  display: flex;
  align-items: center;

  height: 46px;
  margin-bottom: 10px;

  color: white;
  font-size: 2rem;
  font-weight: 600;
  background-color: #002140;
  border-bottom: 1px solid #002140;
}

.sidenav-item {
  padding-left: 16px;
}
/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #7ba4b4;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a {
  padding: 16px 8px 16px 16px;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 10px 8px 10px 16px;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: hsl(208, 100%, 4%);
  padding-left: 8px;

  font-size: 1.6rem;

  transform: translateY(-100%);
  animation: all linear 1s;
}

/* Optional: Style the caret down icon */
.icon-start {
  display: inline-block;
  width: 25px;
}

.icon-end {
  padding-right: 8px;
}

.content {
  min-height: 300px;
  border-radius: 4px;
  margin-top: 20px;
}

h1 {
  margin: 0;
}
